body {
    background-color: rgb(255, 242, 227);
}
.container {
    /* border-style: solid; */
    padding: 20px;
}
h1 {
    color: #0a0a23;
    /* font-size: 5rem; */
    font-weight: 700;
    text-rendering: optimizeLegibility;
    padding-bottom: 20px;
}
#line1 {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid #002ead;
    font-size: large;
    font-family: sans-serif;
}
#line2 {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid #002ead;
    font-size: large;
    font-family: sans-serif;

}

#line3 {
    color: crimson;
}


.btn {
    padding: 15px;
    color: ghostwhite;
    background-color: rgb(130, 117, 243);
    font-size: 20px;
    
}
#imp {
    
    font-size: larger;
    color: rgb(243, 107, 107);
    font-style: italic;
}
.radio {
    font-size: 20px;
}
h3 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(66, 122, 122);
}